.showPassword {
    
    transform: translateY(20%);
    cursor: pointer;
    color: #555; 
    font-size: 14px; 
    transition: color 0.3s; 
  }
  
  .showPassword:hover {
    color: var(--color-limegreen) ;
  }
  